<div class="row" xmlns:h="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading title">{{voter.question}}</div>
            <div class="panel-body" >
                <div class="panel panel-info ">
                    <table class="table table-hover table-bordered">
                        <tbody >
                        <tr data-ng-repeat="item in voter.answerses" >
                            <td>
                                <input type="radio" name="radioBut"  value="{{item.id}}"> {{item.answer}}
                            </td>
                            <td class="">{{item.votes}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div data-ng-hide="voter.isclosed" class="button">
                <a data-ng-click="updateVoter()" class="btn btn-small btn-success">Ответить</a>
                <div class="button pull-right">
                    <a data-ng-click="closeVoter()" class="btn btn-small btn-primary">Закрыть голосование</a>
                </div>
            </div>
            <label for="inputtext" >Ссылка для голосования:</label>
            <input id="inputtext" value="http://localhost:8080/#!/voter/{{voter.id}}" readonly class="input-lg" style="width: 400px;">
        </div>
    </div>
</div>
